ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.Astrometry.dll
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.Astrometry.xml
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.Attributes.dll
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.Attributes.xml
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.Controls.dll
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.Controls.xml
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.DeviceInterfaces.dll
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.DeviceInterfaces.xml
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.Exceptions.dll
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.Exceptions.xml
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.Internal.Extensions.dll
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.Internal.Extensions.xml
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.PentaxKP.Camera.dll
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.PentaxKP.Camera.dll.config
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.PentaxKP.Camera.pdb
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.PentaxKP.Camera.tlb
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.SettingsProvider.dll
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.SettingsProvider.xml
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.Utilities.dll
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.Utilities.Video.dll
ASCOMPentaxCameraDriver/bin/x64/Debug/ASCOM.Utilities.xml
ASCOMPentaxCameraDriver/obj/ASCOMPentaxCameraDriver.csproj.UnmanagedRegistration.cache
ASCOMPentaxCameraDriver/obj/x64/Debug/ASCOM.PentaxKP.Camera.dll
ASCOMPentaxCameraDriver/obj/x64/Debug/ASCOM.PentaxKP.Camera.pdb
ASCOMPentaxCameraDriver/obj/x64/Debug/ASCOM.PentaxKP.FocusPosition.resources
ASCOMPentaxCameraDriver/obj/x64/Debug/ASCOM.PentaxKP.FocusTools.resources
ASCOMPentaxCameraDriver/obj/x64/Debug/ASCOM.PentaxKP.LoggingSetup.resources
ASCOMPentaxCameraDriver/obj/x64/Debug/ASCOM.PentaxKP.Properties.Resources.resources
ASCOMPentaxCameraDriver/obj/x64/Debug/ASCOM.PentaxKP.SetupDialogForm.resources
ASCOMPentaxCameraDriver/obj/x64/Debug/ASCOMPentaxCameraDriver.csproj.FileListAbsolute.txt
ASCOMPentaxCameraDriver/obj/x64/Debug/ASCOMPentaxCameraDriver.csproj.GenerateResource.Cache
ASCOMPentaxCameraDriver/obj/x64/Debug/ASCOMPentaxCameraDriver.csprojResolveAssemblyReference.cache
ASCOMPentaxCameraDriver/obj/x64/Debug/DesignTimeResolveAssemblyReferences.cache
ASCOMPentaxCameraDriver/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ASCOMPentaxCameraDriver/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ASCOMPentaxCameraDriver/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ASCOMPentaxCameraDriver/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ASCOMPentaxCameraDriver/obj/x64/Debug/TempPE/Properties.Resources.Designer.cs.dll
ASCOMPentaxCameraDriver/obj/x64/Release/DesignTimeResolveAssemblyReferences.cache
ASCOMPentaxCameraDriver/obj/x64/Release/DesignTimeResolveAssemblyReferencesInput.cache
ASCOMPentaxCameraDriver/obj/x64/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
ASCOMPentaxCameraDriver/obj/x64/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
ASCOMPentaxCameraDriver/obj/x64/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ASCOMPentaxCameraDriver/obj/x64/Release/TempPE/Properties.Resources.Designer.cs.dll
PentaxFocuser/bin/Debug/ASCOM.Astrometry.dll
PentaxFocuser/bin/Debug/ASCOM.Astrometry.xml
PentaxFocuser/bin/Debug/ASCOM.Attributes.dll
PentaxFocuser/bin/Debug/ASCOM.Attributes.xml
PentaxFocuser/bin/Debug/ASCOM.Controls.dll
PentaxFocuser/bin/Debug/ASCOM.Controls.xml
PentaxFocuser/bin/Debug/ASCOM.DeviceInterfaces.dll
PentaxFocuser/bin/Debug/ASCOM.DeviceInterfaces.xml
PentaxFocuser/bin/Debug/ASCOM.Exceptions.dll
PentaxFocuser/bin/Debug/ASCOM.Exceptions.xml
PentaxFocuser/bin/Debug/ASCOM.Internal.Extensions.dll
PentaxFocuser/bin/Debug/ASCOM.Internal.Extensions.xml
PentaxFocuser/bin/Debug/ASCOM.PentaxKPCameraFocuser.Focuser.dll
PentaxFocuser/bin/Debug/ASCOM.PentaxKPCameraFocuser.Focuser.dll.config
PentaxFocuser/bin/Debug/ASCOM.PentaxKPCameraFocuser.Focuser.pdb
PentaxFocuser/bin/Debug/ASCOM.PentaxKPCameraFocuser.Focuser.tlb
PentaxFocuser/bin/Debug/ASCOM.SettingsProvider.dll
PentaxFocuser/bin/Debug/ASCOM.SettingsProvider.xml
PentaxFocuser/bin/Debug/ASCOM.Utilities.dll
PentaxFocuser/bin/Debug/ASCOM.Utilities.Video.dll
PentaxFocuser/bin/Debug/ASCOM.Utilities.xml
PentaxFocuser/obj/Debug/ASCOM.PentaxKPCameraFocuser.Focuser.dll
PentaxFocuser/obj/Debug/ASCOM.PentaxKPCameraFocuser.Focuser.pdb
PentaxFocuser/obj/Debug/ASCOM.PentaxKPCameraFocuser.Properties.Resources.resources
PentaxFocuser/obj/Debug/ASCOM.PentaxKPCameraFocuser.SetupDialogForm.resources
PentaxFocuser/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PentaxFocuser/obj/Debug/PentaxFocuser.csproj.FileListAbsolute.txt
PentaxFocuser/obj/Debug/PentaxFocuser.csproj.GenerateResource.Cache
PentaxFocuser/obj/Debug/PentaxFocuser.csprojResolveAssemblyReference.cache
PentaxFocuser/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PentaxFocuser/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PentaxFocuser/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PentaxFocuser/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
PentaxFocuser/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
PentaxFocuser/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PentaxFocuser/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PentaxFocuser/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PentaxFocuser/obj/Release/TempPE/Properties.Resources.Designer.cs.dll
PentaxTest/bin/Debug/ASCOM.DeviceInterfaces.dll
PentaxTest/bin/Debug/ASCOM.DeviceInterfaces.xml
PentaxTest/bin/Debug/ASCOM.DriverAccess.dll
PentaxTest/bin/Debug/ASCOM.DriverAccess.xml
PentaxTest/bin/Debug/ASCOM.Exceptions.dll
PentaxTest/bin/Debug/ASCOM.Exceptions.xml
PentaxTest/bin/Debug/ASCOM.PentaxKP.Test.exe
PentaxTest/bin/Debug/ASCOM.PentaxKP.Test.exe.CodeAnalysisLog.xml
PentaxTest/bin/Debug/ASCOM.PentaxKP.Test.exe.config
PentaxTest/bin/Debug/ASCOM.PentaxKP.Test.exe.lastcodeanalysissucceeded
PentaxTest/bin/Debug/ASCOM.PentaxKP.Test.pdb
PentaxTest/bin/Debug/ASCOM.PentaxKP.Test.vshost.exe
PentaxTest/bin/Debug/ASCOM.PentaxKP.Test.vshost.exe.config
PentaxTest/bin/Debug/ASCOM.Utilities.dll
PentaxTest/bin/Debug/ASCOM.Utilities.xml
PentaxTest/bin/Debug/libraw.dll
PentaxTest/bin/x64/Release/ASCOM.PentaxKP.Test.vshost.exe
PentaxTest/bin/x64/Release/ASCOM.PentaxKP.Test.vshost.exe.config
PentaxTest/bin/x64/Release/ASCOM.PentaxKP.Test.vshost.exe.manifest
PentaxTest/bin/x64/Release/libraw.dll
PentaxTest/obj/x64/Release/DesignTimeResolveAssemblyReferencesInput.cache
PentaxTest/obj/x64/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PentaxTest/obj/x64/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PentaxTest/obj/x64/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PentaxTest/obj/x86/Debug/ASCOM.PentaxKP.Test.exe
PentaxTest/obj/x86/Debug/ASCOM.PentaxKP.Test.pdb
PentaxTest/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PentaxTest/obj/x86/Debug/PentaxTest.csproj.FileListAbsolute.txt
PentaxTest/obj/x86/Debug/PentaxTest.csprojResolveAssemblyReference.cache
PentaxTest/obj/x86/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PentaxTest/obj/x86/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PentaxTest/obj/x86/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
ASCOMPentaxCameraDriver/bin/x64/Release/libraw.dll
ASCOMPentaxCameraDriver/bin/x64/Debug/RicohCameraSDK.dll
ASCOMPentaxCameraDriver/bin/x64/Debug/libraw.dll
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.Astrometry.dll
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.Astrometry.xml
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.Attributes.dll
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.Attributes.xml
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.Controls.dll
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.Controls.xml
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.DeviceInterfaces.dll
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.DeviceInterfaces.xml
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.Exceptions.dll
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.Exceptions.xml
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.Internal.Extensions.dll
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.Internal.Extensions.xml
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.PentaxKP.Camera.dll
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.PentaxKP.Camera.dll.config
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.PentaxKP.Camera.pdb
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.PentaxKP.Camera.tlb
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.SettingsProvider.dll
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.SettingsProvider.xml
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.Utilities.dll
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.Utilities.Video.dll
ASCOMPentaxCameraDriver/bin/x64/Release/ASCOM.Utilities.xml
ASCOMPentaxCameraDriver/bin/x64/Release/RicohCameraSDK.dll
ASCOMPentaxCameraDriver/obj/x64/Release/ASCOM.PentaxKP.Camera.dll
ASCOMPentaxCameraDriver/obj/x64/Release/ASCOM.PentaxKP.Camera.pdb
ASCOMPentaxCameraDriver/obj/x64/Release/ASCOM.PentaxKP.FocusPosition.resources
ASCOMPentaxCameraDriver/obj/x64/Release/ASCOM.PentaxKP.FocusTools.resources
ASCOMPentaxCameraDriver/obj/x64/Release/ASCOM.PentaxKP.LoggingSetup.resources
ASCOMPentaxCameraDriver/obj/x64/Release/ASCOM.PentaxKP.Properties.Resources.resources
ASCOMPentaxCameraDriver/obj/x64/Release/ASCOM.PentaxKP.SetupDialogForm.resources
ASCOMPentaxCameraDriver/obj/x64/Release/ASCOMPentaxCameraDriver.csproj.FileListAbsolute.txt
ASCOMPentaxCameraDriver/obj/x64/Release/ASCOMPentaxCameraDriver.csproj.GenerateResource.Cache
ASCOMPentaxCameraDriver/obj/x64/Release/ASCOMPentaxCameraDriver.csprojResolveAssemblyReference.cache
PentaxFocuser/bin/Release/ASCOM.Astrometry.dll
PentaxFocuser/bin/Release/ASCOM.Astrometry.xml
PentaxFocuser/bin/Release/ASCOM.Attributes.dll
PentaxFocuser/bin/Release/ASCOM.Attributes.xml
PentaxFocuser/bin/Release/ASCOM.Controls.dll
PentaxFocuser/bin/Release/ASCOM.Controls.xml
PentaxFocuser/bin/Release/ASCOM.DeviceInterfaces.dll
PentaxFocuser/bin/Release/ASCOM.DeviceInterfaces.xml
PentaxFocuser/bin/Release/ASCOM.Exceptions.dll
PentaxFocuser/bin/Release/ASCOM.Exceptions.xml
PentaxFocuser/bin/Release/ASCOM.Internal.Extensions.dll
PentaxFocuser/bin/Release/ASCOM.Internal.Extensions.xml
PentaxFocuser/bin/Release/ASCOM.PentaxKPCameraFocuser.Focuser.dll
PentaxFocuser/bin/Release/ASCOM.PentaxKPCameraFocuser.Focuser.dll.config
PentaxFocuser/bin/Release/ASCOM.PentaxKPCameraFocuser.Focuser.pdb
PentaxFocuser/bin/Release/ASCOM.SettingsProvider.dll
PentaxFocuser/bin/Release/ASCOM.SettingsProvider.xml
PentaxFocuser/bin/Release/ASCOM.Utilities.dll
PentaxFocuser/bin/Release/ASCOM.Utilities.Video.dll
PentaxFocuser/bin/Release/ASCOM.Utilities.xml
PentaxFocuser/obj/Release/ASCOM.PentaxKPCameraFocuser.Focuser.dll
PentaxFocuser/obj/Release/ASCOM.PentaxKPCameraFocuser.Focuser.pdb
PentaxFocuser/obj/Release/ASCOM.PentaxKPCameraFocuser.Properties.Resources.resources
PentaxFocuser/obj/Release/ASCOM.PentaxKPCameraFocuser.SetupDialogForm.resources
PentaxFocuser/obj/Release/PentaxFocuser.csproj.FileListAbsolute.txt
PentaxFocuser/obj/Release/PentaxFocuser.csproj.GenerateResource.Cache
PentaxTest/bin/x64/Release/ASCOM.DeviceInterfaces.dll
PentaxTest/bin/x64/Release/ASCOM.DeviceInterfaces.xml
PentaxTest/bin/x64/Release/ASCOM.DriverAccess.dll
PentaxTest/bin/x64/Release/ASCOM.DriverAccess.xml
PentaxTest/bin/x64/Release/ASCOM.Exceptions.dll
PentaxTest/bin/x64/Release/ASCOM.Exceptions.xml
PentaxTest/bin/x64/Release/ASCOM.PentaxKP.Test.exe
PentaxTest/bin/x64/Release/ASCOM.PentaxKP.Test.exe.config
PentaxTest/bin/x64/Release/ASCOM.PentaxKP.Test.pdb
PentaxTest/bin/x64/Release/ASCOM.Utilities.dll
PentaxTest/bin/x64/Release/ASCOM.Utilities.xml
PentaxTest/obj/x64/Release/ASCOM.PentaxKP.Test.exe
PentaxTest/obj/x64/Release/ASCOM.PentaxKP.Test.pdb
PentaxTest/obj/x64/Release/PentaxTest.csproj.FileListAbsolute.txt
PentaxTest/obj/x64/Release/PentaxTest.csprojResolveAssemblyReference.cache
